* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.profilePicSectionStyles {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  text-align: "center";
  margin-top: 20px;
  font-weight: 900;
}

.imageStyles {
  max-width: "200px";
  border: "1px solid #ddd";
  border-radius: "5px";
  margin: "10px 0";
}

.upload {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.camera{
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.camera {
  background-color: #0056b3;
}

.upload {
  background-color: #0056b3;
}
